// いいね押した時の色
    .liked {
        color: #ef4444;
        // color: #d7bc7e;
    }

// 商品一覧画面のいいねボタンの位置
    .css_favorite_position{
        // relative bottom-1/4 left-1/3
        position: relative;
        // bottom: 24%;
        // left: 40%;
        bottom: 144%;
        left: 320%;
    }

// ログインしていない状態で、商品一覧画面のいいねを押した時の時間差で消えるモーダル
    #modalWrap {
        display: none;
        background: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        overflow: hidden;
    }

    .modalBox {
        position: fixed;
        width: 85%;
        max-width: 420px;
        height: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        opacity: 1;
        display: none;
        border-radius: 3px;
        z-index: 1000;
    }

    .modalInner {
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        background: #344530b3;
        color: #fff;
    }