// いいね押した時の色
    .liked {
        color: #ef4444;
        // color: #d7bc7e;
    }

// 商品一覧画面のいいねボタンの位置
    .css_favorite_position{
        position: relative;
        top: 276px;
        left: 142%;
    }
    @media screen and (min-width: 500px) {
        /* 481px以上に適用されるCSS（タブレット用） */
        .css_favorite_position{
            position: relative;
            top: 280px;
            left: 212%;
        }
    }
    @media screen and (min-width: 640px) {
        /* 481px以上に適用されるCSS（タブレット用） */
        .css_favorite_position{
            position: relative;
            top: 250px;
            left: 250%;
        }
    }
    @media screen and (min-width: 768px) {
        /* 481px以上に適用されるCSS（タブレット用） */
        .css_favorite_position{
            position: relative;
            top: 280px;
            left: 212%;
        }
    }
    @media screen and (min-width: 1024px) {
        /* 960px以上に適用されるCSS（PC用） */
        .css_favorite_position{
            position: relative;
            top: 380px;
            left: 220%;
        }
    }
    @media screen and (min-width: 1280px) {
        /* 960px以上に適用されるCSS（PC用） */
        .css_favorite_position{
            position: relative;
            top: 360px;
            left: 142px;
        }
    }

    
// ログインしていない状態で、商品一覧画面のいいねを押した時の時間差で消えるモーダル
    #modalWrap {
        display: none;
        background: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        overflow: hidden;
    }

    .modalBox {
        position: fixed;
        width: 85%;
        max-width: 420px;
        height: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        opacity: 1;
        display: none;
        border-radius: 3px;
        z-index: 1000;
    }

    .modalInner {
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        background: #344530b3;
        color: #fff;
    }