// Header 特定の位置で固定させる
    #global-nav {
        background-position: 0px -176px;
        width: 100%;
        background-image:url('/dummy_img/marble.jpg');
    }

    #global-nav.m_fixed {
        left: 0;
        position: fixed;
        top: 0;
    }

    /* ヘッダーメニューにある Jewelry を押したときに表示される小ウインドウ */
    .css_header_menu_jewelry_search{
        right: -53%;
    }