// 商品一覧画面の ProductCard
    
// お気に入りボタンの位置調整のためにカードの高さを調整
    .css_productCard_height{
        height: 420px;
    }

// 商品一覧についているステータスタグの位置
    .css_product_status_tag{
        position: relative;
        top: 8%;
        z-index: 1000;
    }