@charset "UTF-8";
body {
  text-align: center;
}

body h1 {
  font-family: 'Lora', serif;
  letter-spacing: 0.05em;
}

body h2 {
  font-size: 22px;
  letter-spacing: 0.05em;
}

body p {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
}

body a {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
}

body input {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
}

body .css_gold {
  color: #d7bc7e;
}

body .css_background_gold {
  background-color: #d7bc7e;
}

body .css_background_gold:hover {
  background-color: #b39d68;
}

body .css_green {
  color: #33442F;
}

body .css_fontFamily_notoSerif700 {
  font-family: 'Noto Serif JP', serif;
}

body .css_fontFamily_lora {
  font-family: 'Lora', serif;
}

/*! sanitize.css v3.2.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none;
  /* Chrome 44-, iOS 8+, Safari 9+ */
}

button {
  -webkit-appearance: button;
  /* iOS 8+ */
  overflow: visible;
  /* Internet Explorer 11- */
}

details {
  display: block;
  /* Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Edge 12+, Internet Explorer 11- */
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* iOS 8+ */
}

input[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Chrome 45+, Safari 9+ */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Chrome 45+, Safari 9+ */
}

main {
  display: block;
  /* Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+ */
}

pre {
  overflow: auto;
  /* Internet Explorer 11- */
}

progress {
  display: inline-block;
  /* Internet Explorer 11-, Windows Phone 8.1+ */
}

small {
  font-size: 75%;
  /* All browsers */
}

summary {
  display: block;
  /* Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

template {
  display: none;
  /* Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+ */
}

textarea {
  overflow: auto;
  /* Edge 12+, Internet Explorer 11- */
}

[hidden] {
  display: none;
  /* Internet Explorer 10- */
}

/*
 * Universal inheritance
 */
*,
:before,
:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

:before,
:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
/* specify the border style and width of all elements */
*,
:before,
:after {
  border-style: solid;
  border-width: 0;
}

/* specify the core styles of all elements */
* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* specify the root styles of the document */
:root {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif;
}

/* specify the text decoration of anchors */
a {
  text-decoration: none;
}

/* specify the alignment of media elements */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* specify the background color of form elements */
button,
input,
select,
textarea {
  background-color: transparent;
}

/* specify the inherited color and font of form elements */
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* specify the minimum height of form elements */
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

/* specify the font family of code elements */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/* specify the list style of nav lists */
nav ol,
nav ul {
  list-style: none;
}

/* specify the standard appearance of selects */
select {
  -moz-appearance: none;
  /* Firefox 40+ */
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
  /* Edge 12+, Internet Explorer 11- */
}

select::-ms-value {
  color: currentColor;
  /* Edge 12+, Internet Explorer 11- */
}

/* specify the border styling of tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* specify the resizability of textareas */
textarea {
  resize: vertical;
}

/* specify the background color, font color, and drop shadow of text selections */
::-moz-selection {
  background-color: #b3d4fc;
  /* required when declaring ::selection */
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* required when declaring ::selection */
  color: #ffffff;
  text-shadow: none;
}

/* specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* specify the style of visually hidden yet accessible elements */
[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

/* remove delay from tapping on clickable elements */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
:root, html, body {
  background-color: #fff;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

#global-nav {
  background-position: 0px -176px;
  width: 100%;
  background-image: url("/dummy_img/marble.jpg");
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
}

/* ヘッダーメニューにある Jewelry を押したときに表示される小ウインドウ */
.css_header_menu_jewelry_search {
  right: -53%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*==================================================
スライダーのためのcss
===================================*/
/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  z-index: 3;
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;
  /*矢印の色*/
  border-right: 2px solid #ccc;
  /*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*選択するサムネイル画像の設定*/
.choice-btn div {
  cursor: pointer;
  outline: none;
}

.choice-btn div.slick-current img {
  outline: 4px solid rgba(121, 121, 121, 0.4);
}

.liked {
  color: #ef4444;
}

.css_favorite_position {
  position: relative;
  top: 276px;
  left: 142%;
}

@media screen and (min-width: 500px) {
  /* 481px以上に適用されるCSS（タブレット用） */
  .css_favorite_position {
    position: relative;
    top: 280px;
    left: 212%;
  }
}

@media screen and (min-width: 640px) {
  /* 481px以上に適用されるCSS（タブレット用） */
  .css_favorite_position {
    position: relative;
    top: 250px;
    left: 250%;
  }
}

@media screen and (min-width: 768px) {
  /* 481px以上に適用されるCSS（タブレット用） */
  .css_favorite_position {
    position: relative;
    top: 280px;
    left: 212%;
  }
}

@media screen and (min-width: 1024px) {
  /* 960px以上に適用されるCSS（PC用） */
  .css_favorite_position {
    position: relative;
    top: 380px;
    left: 220%;
  }
}

@media screen and (min-width: 1280px) {
  /* 960px以上に適用されるCSS（PC用） */
  .css_favorite_position {
    position: relative;
    top: 360px;
    left: 142px;
  }
}

#modalWrap {
  display: none;
  background: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}

.modalBox {
  position: fixed;
  width: 85%;
  max-width: 420px;
  height: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  opacity: 1;
  display: none;
  border-radius: 3px;
  z-index: 1000;
}

.modalInner {
  padding: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #344530b3;
  color: #fff;
}

.balloonoya {
  position: relative;
  /* 指定した分だけ相対的に移動 */
  cursor: pointer;
  /* カーソルをポインターで表示 */
}

.balloon1 {
  display: none;
  /* 要素を非表示 */
}

.balloon {
  position: absolute;
  /* 親要素を基準 */
  display: inline;
  /* 要素をインラインとして表示 */
  padding: 2px;
  /* テキストの前後の余白 */
  background-color: rgba(237, 237, 237, 0.9);
  /* 背景色（透明度） */
  width: 180px;
  /* 吹き出し全体の幅 */
  left: -700%;
  /* 表示位置 */
  top: 100%;
  /* 表示位置 */
  margin-top: 12px;
  /* 表示位置 */
  font-size: 80%;
  /* 文字サイズ */
}

.balloon:after {
  border-bottom: 12px solid rgba(237, 237, 237, 0.9);
  /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent;
  /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;
  /* 吹き出し口の幅１／２ */
  top: -12px;
  /* 吹き出し口の位置調整 */
  left: 78%;
  /* 吹き出し口の横位置 */
  content: "";
  /* コンテンツの挿入 */
  position: absolute;
  /* 親要素を基準 */
}

.css_product_status_tag {
  position: relative;
  top: 12px;
  z-index: 1;
  margin-bottom: -16px;
}

/* 検索モーダルの閉じるボタンの位置 */
.css_search_modal_close {
  position: absolute;
  top: 8%;
  right: 2%;
}

/* 外側の暗い所 */
.modal_overlay {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* モーダル表示中はスクロールを無効にする */
.css_no_scroll {
  height: 100%;
  overflow: hidden;
}

.css_search_bar {
  position: absolute;
  top: 4%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.css_message {
  width: 90%;
}

.css_lenderLp_aboutLend_img {
  width: 300px;
  -webkit-transform: rotate(13.4deg);
          transform: rotate(13.4deg);
  padding-top: 8px;
  padding-bottom: 92px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .css_lenderLp_aboutLend_img {
    width: 428px;
    -webkit-transform: rotate(13.4deg);
            transform: rotate(13.4deg);
  }
}

@media screen and (min-width: 768px) {
  .css_lenderLp_aboutLend_img {
    width: 512px;
    -webkit-transform: rotate(13.4deg);
            transform: rotate(13.4deg);
    padding-bottom: 108px;
  }
}

@media screen and (min-width: 1024px) {
  .css_lenderLp_aboutLend_img {
    width: 420px;
    position: relative;
    top: 0px;
    left: 244px;
    -webkit-transform: rotate(13.4deg);
            transform: rotate(13.4deg);
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .css_lenderLp_aboutLend_img {
    width: 548px;
    position: relative;
    top: 0px;
    left: 380px;
    -webkit-transform: rotate(13.4deg);
            transform: rotate(13.4deg);
    padding-bottom: 0px;
  }
}
/*# sourceMappingURL=main.css.map */