@charset 'utf-8';

// ===========================
// Reset
// ===========================
@import "./lib/sanitize";

:root, html, body {
    background-color: #fff;
    width: 100%;
}
* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}


a:hover {
    text-decoration: none;
}
a{
    text-decoration: none;
}