@charset 'utf-8';

body{
    text-align: center;

    h1{
        // font-size: 64px;
        // color: rgb(89, 88, 88);
        font-family: 'Lora', serif;
        letter-spacing: 0.05em;
    }

    h2{
        font-size: 22px;
        letter-spacing: 0.05em;
    }

    p{
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 0.05em;
    }

    a{
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 0.05em;
    }

    input{
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 0.05em;
    }

    // color 指定
        // main_color
        .css_gold{
            color: #d7bc7e;
        }
        // sub_color
        .css_green{
            color: #33442F;
        }

    // font-family 指定

        // 日本語 強調したい箇所
        .css_fontFamily_notoSerif700{
            font-family: 'Noto Serif JP', serif;
        }

        // 英語 Lora
        .css_fontFamily_lora{
            font-family: 'Lora', serif;
        }

}



// $main_color: #d7bc7e;
// $main-color-hover: #ac649c;
// $sub_color: #33442F;