@charset 'utf-8';

body{
    text-align: center;

    h1{
        font-size: 72px;
        font-family: 'Playfair Display', serif;
    }

    h2{
        font-size: 32px;    
    }

    p{
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
    }



}



// $main-color: #A71286;
$main-color: #f162d2;
$main-color-hover: #ac649c;
$sub-color: rgb(199, 162, 0);