@charset 'utf-8';

body{
    text-align: center;

    h1{
        font-size: 64px;
        color: rgb(89, 88, 88);
        // font-family: 'Playfair Display', serif;
        font-family: 'Lora', serif;
    }

    h2{
        font-size: 22px;
        // font-family: 'Shippori Mincho', serif;
        // font-family: 'Sawarabi Mincho', serif;
    }

    p{
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif;
    }

    input{
        font-size: 16px;
        font-family: 'Noto Sans JP', sans-serif;
    }


}



// $main-color: #A71286;
$main-color: #f162d2;
$main-color-hover: #ac649c;
$sub-color: rgb(199, 162, 0);